<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mathCheatObjectvalue"
		class="com.seleniumexpresss.MathCheat"></bean>

	<bean id="scienceCheatObjectvalue"
		class="com.seleniumexpresss.ScienceCheat"></bean>

	<bean id="stu" class="com.seleniumexpresss.Student">

		<property name="cheat" ref="mathCheatObjectvalue"></property>

	</bean>


</beans>
